$primary: #40E0D0;
$dark: #000;
$white: #FFF;
$offwhite: #999;

body {
	background: #171717 ;
	background-size: 100%;

	font-family: sans-serif;
	font-size: 15px;
}

.content {
	max-width: 960px;
	margin: 0 auto;
}

h3 {
	transform: rotate(-25deg);
	background: $dark;
	color: $white;
	display: inline-block;
	padding: 10px;
	font-weight: 800;
	font-size: 24px;
	box-shadow: 10px 5px 1px $primary;
	position: absolute;
	top: 70px;
	left: 16px;
	animation-name: title;
	animation-duration: 0.25s;
}
#logo {
	@media (min-width: 720px) and (min-height: 720px) {
		position: fixed;
	}
}

.subtitle {
	font-size: 16px;
	color: $offwhite;
	margin-top: 0.5em;
	margin-bottom: 0.5em;

	@media (min-width: 720px) and (min-height: 720px) {
		font-size: 22px;
	}
}
.subtext {
	font-size: 14px;
	color: $white;

	margin-top: 0.5em;
	margin-bottom: 0.5em;

	@media (min-width: 720px) and (min-height: 720px) {
		font-size: 20px;
	}
}

a {
	color: $primary;
	.menu & {
		color: white;
	}
}
.bars{
	display: inline-block;
	background: $primary;
	height: 4px;
	width: 400px;
	@media (min-width: 720px) and (min-height: 720px) {
		width: 600px;
	}
	transform: rotate(-35deg);
	position: absolute;
	animation-name: start;
	left: -60px;
	animation-duration: 0.6s;
}
.bars.small {
	height: 2px;
	transform: rotate(15deg);
	left: -220px;
	top: 20px;
	animation-name: start-small;
}
.highlight {
	background: $white;
	color: $dark;
	font-size: 115%;
	font-weight: bold;
}
.c {
	display: inline-block;
	transform: rotate(-7deg) scaleX(1.25);
	font-size: 120%;
}
.c:nth-child(2n) {
	transform: rotate(8deg) scaleX(1);
}
.c:nth-child(3n) {
	transform: rotate(-12deg) ScaleX(1.1);
	font-size: 108%;
}
.menu {
	margin-top: 250px;
	margin-left: 0px;
	margin-bottom: 60px;
	width: calc(100% - 100px);
	position: relative;
	@media (min-width: 720px) and (min-height: 720px) {
		position: fixed;
		left: 0;
		top: 220px;
		width: 200px;
		margin: 0;
	}
	color: $white;
	text-transform: uppercase;
	li {
		background: $dark;
		margin-top: 30px;
		list-style: none;
		padding: 5px;
		transform: rotate(10deg);
		animation-name: menu-item;
		animation-duration: 0.2s;
		box-shadow: 15px 2px 1px $primary;
	}
}
.menu li:hover {
	@media (min-width: 720px) and (min-height: 720px) {
		box-shadow: 20px 4px 1px $primary;
	}
}
.menu li:nth-child(2) {
	animation-delay: 0.1s;
	transform: rotate(15deg) scale(1.2);
}
.menu li:nth-child(3) {
	animation-delay: 0.2s;
}

.message-box-container {
	position: relative;

	width: 90%;
	margin: 0 auto;
	margin-bottom: 45px;
}

@media (min-width: 720px) and (min-height: 720px) {
	.message-box-container {
		width: calc(90% - 250px);
		margin-left: 250px;
		margin-top: 20px;
	}
}
.message-box {
	border: 8px solid white;
	border-top-width: 4px;
	border-left-width: 4px;
	background-color: black;

	padding: 20px;
	padding-top: 82px;
}

.message-box-title {
	background: white;
	color: black;
	font-weight: bold;
	font-size: 36px;
	transform: scaleX(1.1) perspective(500px) skewX(-10deg) rotateY(-8deg) rotate(-10deg) translate3d(0, 0, 0);
	border:4px solid black;
	border-top-width: 2px;
	border-left-width: 2px;
	padding: 10px;
	width: 200px;
	position: absolute;
	top: 0;
	left: -10px;
	@media (min-width: 720px) and (min-height: 720px) {
		width: 320px;
	}
	.c {
		font-size: 100%;
	}
	.highlight {
		background: $dark;
		color: $white;
		font-size: 100%;
		font-weight: bold;
	}

}

.message-box-text {
	.light & {
		transform: translate3d(0,0,0) perspective(0) skewX(0) rotateY(0deg);
	}
	margin-left: 20px;
	margin-right: 20px;
	font-size: 18px;
	@media (min-width: 720px) and (min-height: 720px) {
		font-size: 24px;
	}
	color: white;
	p {
		&:first-of-type {
			margin-top: 0px;
		}
	}
}

#top {
	width: 60px;
	height: 60px;
	font-size: 48px;
	border-radius: 30px;
	background: $dark;
	position: fixed;
	bottom: 20px;
	right: 20px;
	color: $white;
	text-align: center;
	line-height: 60px;
	border: 2px solid $white;
	z-index: 9999;
	transform: translate3d(0,0,0) perspective(0) skewX(0) rotateY(0deg);
	-webkit-transform: translate3d(0,0,0);
}